
@import "base";



.yellow-nav{
	#nav-button,#nav{
		#background-colour{
			background: $yellow;
			background-color: $yellow;
		}
	}
}
.white-nav{
	#nav-button,#nav{
		#background-colour{
			background: #fff;
			background-color: #fff;
		}
	}
}
.blue-nav{
	#nav-button,#nav{
		a {
			color: #fff;
		}
		#nav-button-container{
			.line {
				border-color: #fff;
			}
		}
		#background-colour{
			background: $blue;
			background-color: $blue;
		}
	}
}

#nav {
	position: fixed;
	left: -100%;
	margin-left: 85px;
	z-index: 99;
	top: 2em;
	height: 50px;
	ul{
		li{
			display: inline-block;
			a{
				display: block;
				padding: 1.15em;
				@include vendorize(transition,color 500);
				color: inherit;
				text-decoration: inherit;
				@include light();
			}
		}
		li:first-child a{
			padding-left: 2em;
		}
		li:last-child a{
			padding-right: 2em;
		}
	}
	#nav-container{
		height: 100%;
		width: 100%;
		position: relative;
		padding: 0 25px 0 25px;
		overflow: hidden;
		height: 6px;
		@include vendorize(transition,all 0.5s cubic-bezier(.89,.66,.17,.98));
	}
	#background-colour{
		z-index: -1;
		position: absolute;
		top: 0;
		width: 100%;
		width: -webkit-calc(100% - 75px);
		width: -moz-calc(100% - 75px);
		width: calc(100% - 75px);
		height: 100%;
		background: $orange;
		background-color: $orange;
		@include vendorize(transition,background 0.5s);
		@include vendorize(transition,background-color 0.5s);
		-webkit-transform: skewX(-45deg);
		transform: skewX(-45deg);
	}

	//  got the cubic bezier from    http://cubic-bezier.com/#.17,.67,.83,.67
	@include vendorize(transition,all 1s cubic-bezier(.89,.66,.17,.98));
}
	#nav.tall #nav-container{
		height: 50px;
	}
	#nav.slideout{
		left: 0;
	}

	@include keyframes(fadeIn) {
		0% { opacity:0; }
		100% { opacity:1; }
	}
	@include keyframes(animateIn) {
		0% { left:-100%; }
		100% { left:0%; }
	}
	@include keyframes(animateOut) {
		100% { left:-100%; }
		0% { left:0%; }
	}


#nav-button{
	position: fixed;
	z-index: 100;
	left: -28px;
	@include vendorize(transition,left 0.5s);
	top: 2em;
	width: 125px;
	height: 50px;
	#nav-button-container > div:nth-child(1){
		padding-top: 7px;
	}
	.line{
		border-bottom: solid black 4px;
		height: 6px;
		width: 35px;
		margin: 0 0 0 50px;
		background-color: transparent;
		position: relative;
		z-index: 1;
		@include vendorize(transition,border-color 0.5s);
	}
	#nav-button-container{
		height: 100%;
		width: 100%;
		position: relative;
	}
	#background-colour{
		@include vendorize(transition,background 0.5s);
		@include vendorize(transition,background-color 0.5s);
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background: $orange;
		background-color: $orange;
		-webkit-transform: skewX(-45deg);
		transform: skewX(-45deg);
	}
}
#nav-button:hover{
	left: -25px;
}

#scroller-container{
	height: 100%;
}

#container{
	min-height: 100%;
	height: 100%;
	> div{
		position: relative;
		z-index: 9;
	}
}

#carousel{
	width: 100%;
	height: 100%;
	position: fixed !important;
	top: 0;
	left: 0;
	.slide{

		display: inline-block;
		width: 100%;
		height:100%;
		position: fixed;
		left: 0;
		top: 0;
		opacity: 0;
		z-index: 2;
		.slide-container{
			position: relative;
			height: 100%;
		}
		.slide-text{
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
			width: 100%;
			height: 100%;
			@include vendorize(transition,opacity 1s);
		}
		.image-background{
			width: 100%;
			height: 100%;
			background-position: center;
			background-repeat: no-repeat;
			@include vendorize(background-size, cover);
		}
		@include vendorize(transition,opacity 1s);
	}
		// @include vendorize(transition,left 1.5s cubic-bezier(1,0,1,0))

	div:nth-child(1) .image-background{
		background-image: url("/assets/img/landing-1.jpg");
	}
	div:nth-child(2) .image-background{
		background-image: url("/assets/img/landing-2.jpg");
	}
	div:nth-child(3) .image-background{
		background-image: url("/assets/img/landing-3-tony.jpg");
	}
	div:nth-child(4) .image-background{
		background-image: url("/assets/img/landing-4.jpg");
	}
	div:nth-child(5) .image-background{
		background-image: url("/assets/img/landing-5-reid.jpg");
	}
	div:nth-child(6) .image-background{
		background-image: url("/assets/img/landing-6-anna.jpg");
	}
	div:nth-child(7) .image-background{
		background-image: url("/assets/img/landing-7-sierra.jpg");
	}
	.slide.off{
		display: none;
	}
	.slide.heighlight{
		opacity: 1;
		z-index: 1;
	}
	.slide.text .slide-text{
		opacity: 1;
	}

	#logo-slide{
		width: 100%;
		height: 100%;
		text-align: center;
		#ewings-logo{
			max-width: 350px;
			width: 50%;
			position: absolute;
			left: 2em;
			bottom: 0;
			margin-bottom: 86px;
		}
		#rally-logo{
			position: absolute;
			bottom: 57px;
			width: 100%;
			text-align: right;
			img{
				max-width: 350px;
			}
			svg{
				max-width: 275px;
				padding-right: 2em;
			}
		}
	}
	#quote-container{
		position: fixed;
		left: 0;
		width: 100%;
		bottom: 100px;
		text-align: center;
		.quote{
			width: 77%;
			max-width: 1000px;
			margin: 0 auto;
			font-size: 1.7em;
			text-align: left;
			padding-bottom: 1em;
			line-height: 1.2em;
			color: #fff;
			font-weight: bolder;
			@include vendorize(text-shadow, 0px 0px 10px rgba(0,0,0,0.5));
			@include vendorize(text-shadow, 0px 0px 10px #000);
		}
	}

	#carousel-nav{
		position: fixed;
		width: 100%;
		top: 0;
		width: 100%;
		z-index: 99;
		text-align: center;
		.slide-nav{
			display: inline-block;
			width: 14px;
			height: 14px;
			margin: 0.50em;
			background-color: $yellow;
			opacity: 0.5;
			/*@include vendorize(box-shadow, inset 0px 0px 6px 2px rgba(0, 0, 0, 0.1));*/
			@include vendorize(transition,background 0.2s);
			@include vendorize(border-radius,50%);
		}
		.slide-nav:hover{
			background: $yellow;
		}
		.slide-nav.active{
			background: $blue;
		}
	}

}

#spacer{
	margin-top: 100%;
	z-index: -1;
}

#about{
	min-height: 100%;
	width: 100%;
	position: relative;
	div{
		display: inline-block;
		height: 100%;
		width: 50%;
		vertical-align: top;
	}

	#left{
		width: 37.5%;
		text-align: right;
		#imageBox{
			margin-top: 300px;
			display: inline-block;
			margin-right: 5em;
			background-position: center;
			background-repeat: no-repeat;
			@include vendorize(background-size,cover);
			background-image: url("/assets/img/about-prt.jpg");
			// background-size: 40%;
			width: 15em;
			height: 15em;
			@include vendorize(border-radius,50%);

		}
	}
	#right{
		width: 62.5%;
		padding-top: 300px;
		height: auto;
		max-width: 40em;
		p:nth-child(1){
			@extend .secondary-titles;
			margin: 0 8px 0 8px;
			font-weight: 700;
		}
		p{
			@extend .body-type;
			margin: 1.5em 8px 0 8px;
			color: #fff;
		}
		p:nth-child(9){
			padding-bottom: 200px;
		}

	}
	.title{
		@extend .titles;
		position: absolute;
		top: 0;
		left: 37.5%;
		padding: 2em 0 0 16px;
		width: auto;
		text-align: left;
	}
	#background-image-container{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		overflow: hidden;
		#background-1{
			width: 100%;
			top: 0;
			left: 0;
			position: absolute;
			background-position: center;
			background-repeat: no-repeat;
			@include vendorize(background-size,cover);
			background-image: url("/assets/img/about-bg-1.jpg");
		}
		#background-2{
			-webkit-transform: skewX(-45deg);
			transform: skewX(-45deg);
			width: 200%;
			top: 0;
			left: 0;
			position: absolute;
			height: 100%;
			overflow: hidden;
			div{
				width: 50%;
				top: 0;
				left: 0;
				position: absolute;
				background-position: center;
				background-repeat: no-repeat;
				@include vendorize(background-size,cover);
				background-image: url("/assets/img/about-bg-2.jpg");
				-webkit-transform: skewX(45deg);
				transform: skewX(45deg);
			}
		}
	}

	#dimond{
		position: absolute;
		top: -50px;
		left: calc(50% - 50px);
		width: 100px;
		height: 100px;
		background: $yellow;
		background-color: $yellow;
		@include rotate(45deg);
		@include origin(50% 50%);
		> div{
			width: 70%;
			height: 70%;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url("/assets/icons/down-arrow-black.png");
			background-size: 40px;
			@include rotate(-45deg);
			@include origin(50% 50%);
		}
	}
}

#attenders{
	color: #fff;
	min-height: 100%;
	background-color: $yellow;
	.main-coloum{
		width: 33.3333333333333333%;
		margin-top: 8%;
		display: inline-block;
		vertical-align: top;
		text-align: center;
		min-height: 100%;
		z-index: 1;
		svg{
			fill:#fff;
			max-height: 12%;
			max-width: 150px;
			padding-bottom: 0.75em;
		}
	}
	.background-coloums{
		height: 100%;
		background-color: #f00;
		width: 33.33333333333%;
		position: absolute;
		height: 100%;
		top: 0;
		z-index: -1;
		svg{
			width: 100%;
			height: 100%;
		}
	}
	#pilots.background-coloums{
		background: $yellow;
		left: 33.3333333%;
	}
	#drivers.background-coloums{
		background: $blue;
		left: 66.66666%;
	}
	#guests.background-coloums{
		background: $orange;
	}

	h2{
		@extend .third-titles;
	}
	#text{
		margin-left: 2em;
		text-align: left;
		ul{
			margin-left: 8px;
			li{
				margin-left: 16px;
			}
		}
		h3{
			@extend .body-type;
			text-decoration: underline;
		}
		table{
			border-collapse: separate;
			width: 80%;
			color: #fff;
			font-size: 0.9em;
			margin: 1em 0;
			font-weight: lighter;
			tr{
				td{
					padding: 0.3em 0;
					width: 50%;
					border-top: solid #fff 1px;
				}
			}
			tr:last-child{
				td{
					border-bottom: solid #fff 1px;
				}
			}

		}
		p{
			@extend .body-type;
			padding-bottom: 1em;
			width: 90%;
		}
		p:last-child{
			padding-bottom: 150px;
		}
	}

	img{
		width: 33.33333%;
		height: auto;
		margin: 0% 0% 0% 33.33333%;
		display: block;
	}
	#pilots{
	}
	#drivers{
		h3{
			margin-bottom: 3em;
		}
	}
	#guests{
		.link{
			text-decoration: underline;
		}
		h3{
			margin-top: 2em;
		}
	}
}


#registration{
	min-height: 100%;
	background: $orange;
	color: #fff;
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
	@include vendorize(background-size,cover);
	background-image: url("/assets/img/registration-1.jpg");

	.title{
		@extend .titles;
		padding: 2em 0 0 16px;
		margin: 0;
	}
	h2{
		@extend .third-titles;
	}
	> div{
		margin-top: 6em;
	}
	.half{
		vertical-align: top;
		display: inline-block;
		width: 40%;
		padding: 0 5%;
		max-width: 450px;
		p{
			text-align: left;
		}
	}
	#docs{
		margin-top: 6em;
		> div{
			display: inline-block;
			padding: 0 4em;
			h3{
				padding-top: 0.75em;
				text-decoration: underline;
			}
			p{
				padding-top: 0.25em;
				font-weight: normal;
			}
		}
		padding-bottom: 150px;
	}
}

#map{
	height: 100%;
	min-height: 100%;
	background-color: #fff;
	width: 100%;
	position: relative;
	#map-loading{
		z-index: 3;
		width: 100%;
		height: 100%;
		display: table;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #fff;
		opacity: 1;
		background-position: center;
		background-repeat: no-repeat;
		@include vendorize(background-size,cover);
		background-image: url("/assets/img/map-loading.jpg");
		> div {
			color: #fff;
			@include bold();
			font-size: 3em;
			@include vendorize(text-shadow, 0px 0px 10px rgba(0,0,0,0.5));
			@include vendorize(text-shadow, 0px 0px 10px #000);
			display: table-cell;
			text-align: center;
			vertical-align: middle;
		}
	}
	.off{
		display: none !important;
	}
	.fade{
		@include vendorize(animation,fadeOut 1s forwards);
	}
	#map-container{
		height: 100%;
		width: 100%;
	}
	#legend{
		position: absolute;
		top: 0;
		right: 0;
		background-color: #fff;
		li{
			text-align: right;
			a{
				display: inline-block;
				padding: 1em;
				background-color: #fff;
				color: inherit;
				text-decoration: inherit;
				color: #fff;
			}
			a:hover{
				background-color: #ccc;
			}
		}
		.guests{
			background-color: $orange;
		}
		.pilots{
			background-color: $yellow;
		}
		.drivers{
			background-color: $blue;
		}
		#controll-pannel{
			width: 100%;
			text-align: center;
			a{
				display: inline-block;
				padding: 1em 0;
				width: 50%;
				height: 100%;
				background-color: $blue;
			}
			a:hover{
				background-color: #000;
			}
		}
	}
	#map-hyper-location{
		display: none;
	}
}


#sponsors{
	background-color: $blue;
	min-height: 110%;
	position: relative;
	text-align: center;
	color: #fff;
	padding-bottom: 10em;

	#title{
		@extend .titles;
		padding: 2em 0 1em 0;
		margin: 0;
	}

	.sponsor{
		max-width: 900px;
		display: inline-block;
		width: 100%;
		padding-top: 1em;
		display: none;
		margin: 0 auto;
	}
	
	#platinum{
		color: #ddd;
	}
	#gold{
		color: #ffd95f;
	}
	#silver{
		color: #777;
	}
	#bronze{
		color: #d8741a;
	}

	h3{
		@extend .body-type; //for the type size
		text-transform: uppercase;
		font-weight: bolder;
		padding: 1em 0;
	}

	img{
		vertical-align: top;
		max-height: 60px;
		width: auto;
		padding: 0.2em 0.9em;
		vertical-align: middle;
	}

	svg{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

}

#contact{
	//position: fixed;
	bottom: 0%;
	left: 0;
	width: 100%;
	//height: 200px;
	z-index: 99;
	#click-away{
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	#content{
		position: absolute;
		left: 0;
		width: 100%;
		bottom: 0;
		> div{
			margin: 0 auto;
			background: $yellow;
			background-color: $yellow;
			color: #000;
			font-weight: bolder;
			text-align: left;
			line-height: 1.2em;
			p{
				text-align: center;
			}
			a{
				color: inherit;
				text-decoration: none;
			}
			a,span{
				display: inline-block;
				padding: 1em;
			}
		}
	}

	// div:first-child {

	// }
	// #contact-hit-zone{
	// 	width: 100%;
	// 	height: 100%;
	// 	position: absolute;
	// 	bottom: 0;
	// 	left: 0;
	// }

}
#contact.scroll-in{
	@include vendorize(animation,scrollInMenue 1s forwards);
}
#contact.scroll-out{
	@include vendorize(animation,scrollOutMenue 1s forwards);
}



@include keyframes(scrollInMenue) {
	0% {
		bottom: -100%;
	}
	100% {
		bottom: 0%;
	}
}
@include keyframes(scrollOutMenue) {
	0% {
		bottom: 0%;
	}
	100% {
		bottom: -100%;
	}
}


.dis-none{
	> div{
		display: none !important;
	}
}


#loading-screen{
	z-index: 9999999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	@include vendorize(background-size, cover);
	background-image: url("/assets/img/landing-2.jpg");
}